@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lora:ital@1&display=swap');

/* Header */

.header {
    margin-top: 60px;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}

.header-titles-sm {
    position: absolute;
    top: 25%;
    font-size: 20px;
}

.header-titles-bg {
    position: absolute;
    top: 30%;
    font-size: 100px;
    /* z-index: 2; */

}

.header-img {
    object-fit: cover;
    width: 100%;
    height: 650px;
    margin-top: 60px;
    
}