@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:ital@1&family=Varela&family=Varela+Round&display=swap');


/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Varela', sans-serif;
font-family: 'Varela Round', sans-serif; */

.singlePost {
    flex: 9;
}

.singlePost-wrapper {
    padding: 20px;
    padding-right: 0;
    display: flex;
  flex-direction: column;
}

.singlePost-img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePost-title {
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePost-title-input {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
  }

  .singlePost-title-input:focus {
    outline: none;
  }

.singlePost-edit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;  
}

.singlePostIcon:first-child {
    color: teal;
}

.singlePostIcon:last-child {
    color:tomato
}

.singlePost-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;
    font-family: 'Varela', sans-serif;
}

.singlePost-desc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePost-desc:first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePost-desc-input {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePost-desc-input:focus {
    outline: none;
}
.singlePost-button {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
}